<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=B612+Mono" rel="stylesheet">
  <link href="index.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1 class="title">INSERT BASSEL'S CREATIVITY</h1>
  <ul>
    <% for(var urls of list) { %>
    <li><%= urls.name %></li>
    <% } %>
  </ul>
</body>
</html>
